[submodule "kernel/lib/freestnd-cxx-hdrs"]
	path = kernel/lib/freestnd-cxx-hdrs
	url = https://codeberg.org/OSDev/freestnd-cxx-hdrs
[submodule "kernel/lib/freestnd-c-hdrs"]
	path = kernel/lib/freestnd-c-hdrs
	url = https://codeberg.org/OSDev/freestnd-c-hdrs
[submodule "kernel/lib/nanoprintf"]
	path = kernel/lib/nanoprintf
	url = https://github.com/charlesnicholson/nanoprintf
[submodule "kernel/lib/dlmalloc"]
	path = kernel/lib/dlmalloc
	url = https://github.com/ennorehling/dlmalloc
